<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


    
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>addNewAdServlet</servlet-name>
    <servlet-class>ogloszenia.servlets.AddNewAdServlet</servlet-class>
    </servlet>
  <servlet-mapping>
    <servlet-name>addNewAdServlet</servlet-name>
    <url-pattern>/ad-new-ad</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>addNewUserServlet</servlet-name>
        <servlet-class>ogloszenia.servlets.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewUserServlet</servlet-name>
        <url-pattern>/ad-new-user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>archiveAdServlet</servlet-name>
        <servlet-class>ogloszenia.servlets.ArchiveAdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>archiveAdServlet</servlet-name>
        <url-pattern>/archive-ad</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addNewConversationServlet</servlet-name>
        <servlet-class>ogloszenia.servlets.AddNewConversationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewConversationServlet</servlet-name>
        <url-pattern>/add-new-conv</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addNewConversationMessageServlet</servlet-name>
        <servlet-class>ogloszenia.servlets.AddNewConversationMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewConversationMessageServlet</servlet-name>
        <url-pattern>/send-message</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>searchAdServlet</servlet-name>
        <servlet-class>ogloszenia.servlets.SearchAdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchAdServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>


</web-app>
